<launch>

  <arg name="rviz" default="true" />

  <node pkg="simple_loam" type="simple_scanRegistration" name="scanRegistration" output="screen"/>

  <node pkg="simple_loam" type="simple_laserOdometry" name="laserOdometry" output="screen" respawn="true">
  </node>

  <!--node pkg="simple_loam" type="simple_laserMapping" name="laserMapping" output="screen"/-->
  <!--node pkg="simple_loam" type="simple_transformMaintenance" name="transformMaintenance" output="screen"/-->

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find simple_loam)/rviz_cfg/loam_velodyne.rviz" />
  </group>

</launch>
